<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>
        헤더영역입니다
    </header>
    <div class="body-wrapper">
        <main class="body-content">
            메인영역입니다.
        </main>
    </div>
    <div>
        <footer class="footer">
            <section>
                <span class="footer__main__color">
                    지금까지
                    <em>개의 평가가</em>
                    쌓였어요.
                </span>
                <ul class="footer__main__address">
                    <li>"서비스 이용약관", "개인정보 처리방침", "회사 안내"</li>
                    <li>"고객센터", "cs@watchapedia.co.kr, 02-515-9985"</li>
                    <li>"광고 문의", "ad@watcha.com"</li>
                    <li>"제휴 및 대외 협력", "https://watcha.team/contack"</li>
                    <li>"주식회사 왓챠", "대표 박태훈", "서울특별시 서초구 강남대로 343 신덕빌딩 3층"</li>
                    <li>"사업자 등록 번호 211-88-66013"</li>
                    <li>"© 2022 by WATCHA, Inc. All rights reserved."</li>
                </ul>
            </section>
        </footer>
    </div>
</body>
</html>